*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
     font-family:  sans-serif;
}
.wrapper{
     height: 100vh;
     overflow-y: auto;
     overflow-x: hidden;
}
.comtainer{
     width: 1200px;
     margin: 0 auto;
}
.navbar{
     display: flex;
     height: 200px;
     justify-content: space-between;
     align-items: center;
     margin-top: -50px;
}
.logo{
     width: 100px;
}
.logo-container{
     display: flex;
     align-items: center;
     justify-content: baseline;

}
.logo-text{
     padding-left: -150px;
     font-size: 75px;
     text-align: end;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.infor{
     display: flex;
     gap: 3rem;
     margin-right: 80px;
}
.infor div{
     font-size: 20px;
     cursor: pointer;
}
.infor div a{
     text-decoration: none;
     color: black;
}
.infor div:hover{
     font-weight:600%;
     transition:  0.8s;
}
/* hero-section */
.hero-section{
     display: flex;
     position: relative;
     justify-content: center;
     align-items: center;
     gap: 5rem;
     margin: 4rem auto;
     padding: 0 1rem;
     padding-bottom: 8rem;
}
.faded-text{
     user-select: none;
     font-size: 7rem;
     color: rgb(231, 231, 231);
     bottom: -16%;
     left: -5%;
     font-weight: bold;
     transition: all 3s;
}
.hero-left{
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 3rem;
}